
<%- include('../partials/header') %>





 <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Pokedex Number</th>
      </tr>
    </thead>
    <tbody>
      <tr>
      <% allPokemon.forEach(function(p) { %>
        <td><a href="pokemon/<%= p._id %>"><%= p.name %></a></td>
        <td><%= p.type  %></td>
        <td><%= p.pokeDexNo  %></td>
      </tr>
      <% }) %>
 
    </tbody>
 </table>
    
      
    
  




</body>
</html>